.search_card_wrapper{
  max-width: 80%;
  margin: 100px auto;
}
.search_card{
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid rgba(227,227,227, 1);
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}
.details{
  padding: 10px;
}
.search_card img{
   max-width: 100px;
 }