@import "../../../themes/vars";

header {
  background-color: $DarkBlue;
  height: 64px;
  display: flex;
  align-items: center;

  .header_row {
    width: 100%;
    .header_menu {
      display: flex;

      &_logo {
        min-width: 154px;
        margin-right: 16px;
      }

      &_items {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;

        li {
          margin-right: 14px;

          a {
            padding: 8px;
            color: white;
          }
        }
      }
    }
  }
}

