@import "../themes/vars";

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.movies_conrainer{
  padding: 100px 0;

}
.movies_sec {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  padding-bottom: 20px;
  .card {
    margin-left: 20px;
    width: 150px;
    height: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;

    img{
      height: 225px;
      max-width: 150px;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }
    &_body{
      padding: 10px;
      color: #000;
      h3:hover{
          color: $LightBlue;
      }
      
    }
  }
  &::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dbdbdb;
  }
}
.movie_info_sec {
  .column {
    padding: 20px;
  }
}
.movies_row {
  margin: 50px 0;
}
.single_sec{
  margin: 50px;
  img{
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}